<div class="py-2">
  <h2>About Me</h2>
  <p>
    I’m software developer focused on full-stack web development using MEARN. I
    love solving problems, learning new things, and collaborating on projects
    that make an impact.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi perferendis
    facere, cum nostrum eligendi maxime nesciunt! Expedita dolorum est eum
    corrupti adipisci, optio molestias nisi inventore perferendis debitis. Ut,
    sequi.
  </p>
  <h3 class="mb-3">My Skills</h3>
  <div class="h4 d-flex flex-wrap gap-2">
    <div class="badge text-bg-info fw-medium">
      JavaScript <i class="fa-brands fa-js"></i>
    </div>
    <div class="badge text-bg-info fw-medium">
      TypeScript <i class="fa-brands fa-typescript"></i>
    </div>
    <div class="badge text-bg-info fw-medium">
      React <i class="fa-brands fa-react"></i>
    </div>
    <div class="badge text-bg-info fw-medium">
      Angular <i class="fa-brands fa-angular"></i>
    </div>
    <div class="badge text-bg-info fw-medium">
      Node.js <i class="fa-brands fa-node"></i>
    </div>
    <div class="badge text-bg-info fw-medium">
      MongoDB <i class="fa-brands fa-mdb"></i>
    </div>
  </div>
</div>
