<div class="py-2">
  <h2>Contact Me</h2>
  <div class="d-flex flex-wrap gap-2">
    <a
      data-mdb-ripple-init
      class="btn btn-primary h4 fw-semibold"
      style="background-color: #c71610; border: none"
      href="mailto:verinamichelk@gmail.com"
      role="button"
    >
      <i class="fa-solid fa-envelope"></i> Email
    </a>
    <a
      data-mdb-ripple-init
      class="btn btn-primary h4 fw-semibold"
      style="background-color: #414141; border: none"
      href="https://github.com/verinak"
      role="button"
    >
      <i class="fa-brands fa-github"></i> GitHub
    </a>
    <a
      data-mdb-ripple-init
      class="btn btn-primary h4 fw-semibold"
      style="background-color: #0072b1; border: none"
      href="https://www.linkedin.com/in/verinakhella/"
      role="button"
    >
      <i class="fa-brands fa-linkedin"></i> LinkedIn
    </a>
  </div>
</div>
