<!-- Background image -->
<div
  class="text-center bg-image"
  style="
    background-image: url(&quot;assets/blake-connally-IKUYGCFmfw4-unsplash.jpg&quot;);
    background-position: center;
    background-size: cover;
  "
>
  <div class="mask w-100 p-5" style="background-color: rgba(0, 0, 0, 0.6)">
    <div class="d-flex justify-content-center align-items-center w-100">
      <div class="text-white">
        <h1 class="mb-3 display-4">Verina Michel Khella</h1>
        <h4 class="mb-3 lead">Software Developer</h4>
        <!-- <a
          data-mdb-ripple-init
          class="btn btn-outline-light"
          href="#!"
          role="button"
          >Call to action</a
        > -->
      </div>
    </div>
  </div>
</div>
